/* Smart phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    .col{
        width: 100%;
        text-align: center;
    }
    .body{
        text-align: center;
    }
}

/* Small tablets: from 481 to 767px */
@media only screen and (max-width: 767px){
    .col{
        width: 100%;
        text-align: center;
    }
    .description{
        width: 80%;
        margin-left: 10%;
    }
    .phone {
        width: 50
    }
}

/* Small tablets to Big Tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){
    .description{
        width: 80%;
        margin-left: 10%;
    }
    .phone {
        width: 50
    }
        .col{
        width: 100%;
        text-align: center;
    }
}

/* Small tablets to Big Tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){
    .main-nav{
        visibility: hidden;
    }
    .description{
        width: 80%;
        margin-left: 10%;
    }
    .phone {
        width: 50
    }
}

/* Special */
@media only screen and (max-width: 1050px){
    .main-nav{
        visibility: hidden;
    }
    .description{
        width: 80%;
        margin-left: 10%;
    }
}

/* Big Tablets: from 1024 to 1200px */
@media only screen and (max-width: 1200px){
    .promos{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
        width: 100%;
    }
}